.anticipation {
    padding: 120px 84px;
    background: $color-light;


    &__slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;


        .slick-arrow {
            width: 36px;
            height: 36px;

            &:hover{
                cursor: pointer;
            }

            &.prev {
                margin-right: 8px;
                position: absolute;
                top: 0;
                right: 44px;

                &:hover{
                    cursor: pointer;
                }
            }

            &.next {
                position: absolute;
                top: 0;
                right: 0;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        &-slide {
            display: flex !important;
            justify-content: space-between;


            .left {
                flex: 1 1 40%;
                margin-right: 5%;

                img {
                    width: 420px;
                    height: 530px;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                color: $dark-brown;
                position: relative;


                .subtitle {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    text-transform: uppercase;
                    margin-bottom: 48px;
                }

                .title {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                }

                .banner {
                    font-weight: 400;
                    font-size: 120px;
                    line-height: 132px;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-top: 180px;
    }

    .tab {
        padding: 10px 20px;
        color: $text-pink;
        cursor: pointer;
        border-top: 1px solid $text-pink;
        padding-top: 24px;
    }

    .tab.active {
        color: $dark-red;
        border-top: 1px solid $dark-red;
    }
}

.slick-slide {
    display: flex !important;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-slide .slick-current {
    display: flex;
}

@media screen and (max-width: 1025px) {
    .anticipation {
        padding: 60px 42px;

        &__slider-slide {
            flex-direction: column;

            .left {
                flex: 1 1 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .right {
                margin-top: 50px;

                .banner {
                    bottom: 10px;
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .anticipation {
        padding: 25px;

        &__slider-slide {
            .right {
                .banner {
                    bottom: 70px;
                }
            }
        }
        &__tabs{
            flex-direction: column;
            margin-top: 100px;
        }
    }
}