.header {
    &-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 27px 0;
        color: $dark-brown;
    }

    &__logo {
        width: 111px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button-wrapper {
        display: flex;

        p {
            font-family: $font-main;
            font-weight: 400;
            text-align: center;
            padding-top: 12px;
            margin-right: 48px;
        }

        button {
            padding: 16px 36px;
            background-color: $dark-brown;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: $color-light;
            border: none;

            &:hover {
                cursor: pointer;
                color: $dark-brown;
                background-color: $color-light;
            }
        }
    }

    &__menu {
        padding-top: 12px;
    }


    &__list {
        display: flex;
    }

    &__list li {
        margin-right: calc($top-indent / 3);

        a {
            color: $dark-brown;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;

            &:hover {
                border: none;
                border-bottom: none !important;
            }
        }
    }


&__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(src/assets/img/main-bg.png) no-repeat center bottom;
    height: 100vh;
    padding: 0 25%;

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $color-light;
        margin: 0;
        text-transform: uppercase;
    }

    h1 {
        margin-top: 12px;
        margin-bottom: 48px;
        font-weight: 400;
        font-size: 180px;
        line-height: 162px;
        color: $color-light;
        text-transform: uppercase;
    }

    div {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 48px;
        color: $color-light;
    }

    a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 9px 36px;
        background: $color-light;
        border: none;

        &:hover{
            cursor: pointer;
        }

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            margin-right: 8px;
            color: $dark-brown;
            text-transform: uppercase;
        }

        img {
            width: 36px;
            height: 36px;
        }

    }


}
}

@media screen and (max-width:1025px) {
    .header {    
        &__content{ 
            height: 60vh;
            padding: 150px 50px;

            h1{
              font-size: 120px;
            }
        }
    }
}

@media screen and (max-width: 821px) {
    .header {
        &__button-wrapper{
            display: flex;
            flex-direction: column;
        }
        &__menu{
            padding-top: 0;
        }


        &__content {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;

            &--title {
                font-size: 40px;
                line-height: 66px;
                word-wrap: break-word;
                display: inline;
                width: 85%;
            }

            &--descr {
                width: 100%;
                padding: 150px 20px 50px 20px;

            }

            &--picture {
                width: 55%;
            }

            &--text {
                margin: 50px auto;
                text-align: center;
            }
        }
    }
}