.help {
    background: url(src/assets/img/help-img.png) center bottom no-repeat;
    height: 100vh;

    &__container {
        margin: 0 auto;
        color: $color-light;

        &-title {
            margin-bottom: 48px;
            font-size: 64px;
            font-weight: 400;
            line-height: 76.8px;
            text-align: center;
            text-transform: uppercase;
            padding-top: 120px;
        }

        &-subtitle {
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            text-align: center;
            margin-bottom: 48px;
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px 36px;
            background: $color-light;
            color: $dark-brown;
            max-width: 348px;
            text-align: center;
            margin: 0 auto;

            span {
                text-transform: uppercase;

                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
                text-align: left;

            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .help {
        height: 60vh;
    }
}

@media screen and (max-width: 576px) {
    .help {
        height: 100vh;

        &__container {
            &-title {
                font-size: 32px;
            }
        }
    }
}