@media screen and (max-width: 821px) {
    .slick-slide {
        display: flex !important;
        height: 100%;
        min-height: 1px;
    }
    .slick-slide .slick-current .slick-active,
    .slick-initialized .slick-slide {
        width: 95% !important;
        padding: 0 10px;

        img {
            object-fit: cover;
            width: 100%;
            max-width: 100%;
        }
    }
}



