.place {
    background: url(src/assets/img/place-bg.png) no-repeat center center;
    height: 100vh;
    position: relative;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-light;
        padding: 36px 84px;

        &-title {
            font-size: 64px;
            font-weight: 400;
            line-height: 76.8px;
            text-align: left;
            text-transform: uppercase;
            margin-right: 15%;
        }

        &-subtitle {
            font-size: 24px;
            font-weight: 400;
            line-height: 28.8px;
            text-align: left;
        }
    }

    &__buttons {
        position: absolute;
        bottom: 120px;
        right: 84px;
        display: flex;
        justify-content: space-between;

        &-button {
            background-color: $color-light;
            color: $dark-brown;
            padding: 9px 36px;
            margin-right: 8px;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            display: flex;

            img {
                width: 36px;
                height: 36px;
            }

            span {
                text-transform: uppercase;
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .place {
        height: 60vh;

        &__header {
            flex-direction: column;

            &-subtitle {
                margin-top: 50px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .place {
        height: 100vh;

        &__header {
            padding: 25px;

            &-title {
                font-size: 32px;
                margin-right: 0;
            }
        }
        &__buttons{
            right: 16px;
            bottom: 116px;
        }
    }
}