$font-main:"Tenor Sans", sans-serif;
$dark-brown: #623E2A;
$dark-red: #A4402E;
$slider-bg: #623E2A66;
$main-grey: #9199A3;
$beige-bg: #E7E0DA;
$color-light: #FFFFFF;
$text-pink: #D49C92;
$yellow-text: #E9B068;
$top-indent:72px;
